@model  VCAuthn.IdentityServer.Endpoints.AuthorizationViewModel
@{
    Layout = "_Layout";
    var qrUri = $"https://chart.googleapis.com/chart?cht=qr&chs=300x300&chld=L|0&chl={Uri.EscapeDataString(Model.Challenge)}";
}
<span>
    <input id="pollInterval" value="@Model.Interval" style="display: none" />
    <input id="pollUrl" value="@Model.PollUrl" style="display: none" />
    <input id="resolutionUrl" value="@Model.ResolutionUrl" style="display: none" />

    <div class="container">
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="704.094" height="441" viewBox="0 0 704.094 441">
    <g id="Symbol_3_9" data-name="Symbol 3 – 9" transform="translate(-158.5 -31)">
      <g id="Mattr_TM_Grey_Horizontal" data-name="Mattr TM Grey Horizontal" transform="translate(407 30.995)">
        <path id="Fill-1" d="M467.621,40.551h7.667V7.672h10.469V0H457.152V7.672h10.469V40.551" transform="translate(-361.607)" fill="#fff" fill-rule="evenodd"/>
        <path id="Fill-3" d="M672.583,40.551h7.667V7.672H690.72V0H662.114V7.672h10.469V40.551" transform="translate(-523.732)" fill="#fff" fill-rule="evenodd"/>
        <path id="Fill-4" d="M247.9,40.551l10.611-22.346,10.164,22.346H277.1L258.66,0,239.418,40.551H247.9" transform="translate(-189.38)" fill="#fff" fill-rule="evenodd"/>
        <path id="Fill-5" d="M901.568,40.551,892.054,24.1A13.468,13.468,0,0,0,896.9,13.84C896.9,6.211,890.335,0,882.262,0h-6.7V7.672h6.7q.361,0,.712.032c3.512.316,6.262,2.947,6.262,6.135s-2.75,5.819-6.262,6.136q-.352.032-.712.032h-2.546v7.667h2.546a15.476,15.476,0,0,0,2.85-.268l7.6,13.144h8.86" transform="translate(-692.568)" fill="#fff" fill-rule="evenodd"/>
        <path id="Fill-6" d="M24.358,13.038l-5.637,5.615L0,0V40.551H7.671V18.474l11.05,11.007L29.772,18.474V40.551h7.672V0L24.358,13.038" fill="#fff" fill-rule="evenodd"/>
      </g>
      <g id="Group_28" data-name="Group 28" transform="translate(-1 -8)">
        <g id="Group_26" data-name="Group 26" transform="translate(112)">
          <g id="iphone_6:7_black" data-name="iphone 6:7 black" transform="translate(2333.094 909) rotate(90)">
            <rect id="Rectangle_1" data-name="Rectangle 1" width="325" height="703.094" rx="58" transform="translate(-808 1582)" fill="#fff" stroke="#707070" stroke-width="1"/>
            <rect id="IMG_4428" width="301.671" height="536.572" rx="4" stroke-width="1" fill="#fff" stroke="#707070" transform="translate(-795.933 1663.25)"/>
          </g>
        </g>
      </g>
      <g id="Group_29" data-name="Group 29" transform="translate(-84)">
        <text id="matter.global" transform="translate(773 465)" fill="#fff" font-size="32" font-family="HelveticaNeue, Helvetica Neue"><tspan x="-92.768" y="0">matter.global</tspan></text>
        <g id="globe" transform="translate(648 440)">
          <circle id="Ellipse_7" data-name="Ellipse 7" cx="12" cy="12" r="12" transform="translate(2 2)" stroke-width="2" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" fill="none"/>
          <line id="Line_15" data-name="Line 15" x2="24" transform="translate(2 14)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          <path id="Path_15" data-name="Path 15" d="M12,2a20.486,20.486,0,0,1,4,12,20.486,20.486,0,0,1-4,12A20.486,20.486,0,0,1,8,14,20.486,20.486,0,0,1,12,2Z" transform="translate(2)" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
        </g>
      </g>
      <g id="Group_30" data-name="Group 30">
        <text id="_mattrglobal" data-name="@("@")mattrglobal" transform="translate(347 465)" fill="#fff" font-size="32" font-family="HelveticaNeue, Helvetica Neue"><tspan x="-93.552" y="0">@("@")mattrglobal</tspan></text>
        <g id="Logo__x2014__FIXED" transform="translate(214.875 440.053)">
          <path id="Path_14" data-name="Path 14" d="M99.74,140.52c12.083,0,18.691-10.013,18.691-18.691,0-.286,0-.572-.014-.845a13.458,13.458,0,0,0,3.283-3.406,13.332,13.332,0,0,1-3.774,1.035,6.565,6.565,0,0,0,2.888-3.637,13.3,13.3,0,0,1-4.169,1.594,6.573,6.573,0,0,0-11.361,4.5,6.02,6.02,0,0,0,.177,1.5A18.635,18.635,0,0,1,91.921,115.7a6.566,6.566,0,0,0,2.043,8.759,6.452,6.452,0,0,1-2.97-.817v.082a6.576,6.576,0,0,0,5.272,6.444,6.547,6.547,0,0,1-1.73.232,6.271,6.271,0,0,1-1.24-.123,6.559,6.559,0,0,0,6.13,4.564,13.2,13.2,0,0,1-8.16,2.806,11.953,11.953,0,0,1-1.567-.1,18.3,18.3,0,0,0,10.04,2.97" transform="translate(-89.7 -114.5)" fill="#fff"/>
        </g>
      </g>
    </g>
    <image id="frame" width="288" height="288" transform="translate(209.5 76)" xlink:href="@qrUri"/>
  </svg>

</div>
</span>

<button class="back" onclick="history.back(-1)">
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-left"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>
</button>

<style>
  * {
    box-sizing: border-box;
  }
  
  body {
    background: #333132;
    padding: 0;
    margin: 0;
    border:0;
    height: 100vh;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 12px;
    height: 100vh;
    width: 100vw;
  }

  .back {
    background: none;
    border: none;
    position: absolute;
    top: 0;
    left:0;
    width: 64px;
    height: 64px;
  }
</style>

<script type="text/javascript">
    $(document).ready((function poll() {
        setTimeout(function () {
            $.ajax({
                type: 'GET',
                url: document.getElementById('pollUrl').value,
                success: function () {
                    window.location.replace(document.getElementById('resolutionUrl').value);
                },
                error: poll
            });
        }, parseInt(document.getElementById('pollInterval').value, 10));
    })());
</script>